@import url('normalize.css');

/* General Demo Style */


.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.container{
	position: fixed;
	text-align: center;
}
.container > header{
	margin: 10px 10px 0px 10px;
	padding: 20px 10px 0px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header > span{
	font-size: 20px;
	line-height: 20px;
	display: block;
	font-weight: 400;
	font-style: italic;
	color: #719dab;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-family: 'Alegreya SC', Georgia, serif;
}
.container > header h1{
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #498ea5;
	padding: 5px 0px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header h1 span{
	font-weight: 700;
}
.container > header h2{
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #6190ca;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header p{
	font-style: italic;
	color: #aaa;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
/* Header Style */
.codrops-top{
	text-align: left;
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}
.codrops-top a:hover{
	background: rgba(255,255,255,0.3);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}
.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions{
	display: block;
}

button.fire{
	color: #fff;
	display: inline-block;
	margin: 5px auto 30px auto;
	border-radius: 4px;
	padding: 0px 15px;
	height: 30px;
	line-height: 30px;
	width: 160px;
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	border: 1px solid #377a90;
	background: #6fafc4; /* Old browsers */
	background: -moz-linear-gradient(top, #6fafc4 0%, #498ea5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fafc4), color-stop(100%,#498ea5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6fafc4 0%,#498ea5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6fafc4 0%,#498ea5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6fafc4 0%,#498ea5 100%); /* IE10+ */
	background: linear-gradient(top, #6fafc4 0%,#498ea5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fafc4', endColorstr='#498ea5',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	z-index: 10;
}
input.fire-check:hover + button.fire{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
input.fire-check:checked + button.fire{
	color: #377a90;
	border-color: #4991a9;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
	background: #94cde0;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.4);
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}
input.fire-check{
	width: 160px;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	height: 35px;
	cursor: pointer;
	opacity: 0;
	z-index: 100;
}

.no-cssanimations button.fire,
.no-cssanimations input.fire-check{
	display: none;
}