html 
{
	height:100%; 
	width:100%
}

body
{
	height:100%; 
	width:100%; 
	padding:0px; 
	margin:0; 
	color:#000; 
	font-family:Arial; 
	font-size:14px; 
	background-color:#FFF;
}

.leftline
{
	width:210px;
	overflow:hidden;
	float:left;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
}

.header
{
	width:100%;
	float:none;
	background:url(logo.png) top left no-repeat;
	height:160px;
	
}

.leftmenu 
{
	padding:0px;
}

.leftmenu li
{
	width:200px; 
	height:30px; 
	background:#000; 
	font-size:24px; 
	line-height:1.3;
	float:none; 
	margin:10px 10px 10px 0px ; 
	text-align:right; 
	padding-right:10px; 
	list-style:none
}

.leftmenu li:hover
{
	background:#FF0000;
}

a
{
	color:#FFF;
	text-decoration:none;
}

.content
{
	
}

.block
{
	float:none;
	margin-top:20px;
	margin-left:250px;
	margin-right:50px;
	border-left:2px black solid;
}

.bl_head
{
	color:#fff;
	background:#000;
	padding:10px 0px 10px 10px;
}



.bl_info
{
	color:#000;
	padding-left:10px;
	padding-top:5px;
}

.line
{
	display:block;
	height:20px;
	cursor:default;
}

.line:hover
{
	background:red;
}

.tit
{
	width:200px;
	float:left;
}

.tty
{
	
}
